[submodule "src/nrf24l01/driver"]
	path = src/nrf24l01/driver
	url = /home/r2d2/Projects/lib/nrf24l01
[submodule "src/nrf24l01/sensor"]
	path = src/nrf24l01/sensor
	url = /home/r2d2/Projects/lib/sensor
